{% load i18n staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/mdb.min.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
        {% endif %}
        {% block content %}{% endblock %}

        <script type="text/javascript"
                src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/mdb.min.js' %}"></script>
        <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>
    </body>
</html>
