{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}
    OIDC Home
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 m-auto">
            <section>
                <div class="container mt-5">
                    <h1 class="jumbotron-heading">{% trans 'Hola' %}{% if user.is_authenticated %} {{ user.first_name }} {{ user.last_name }}{% endif %}</h1>
                    <p class="lead text-muted">{% trans 'Este es un ejemplo de OIDC Provider. Construido en <a href="https://www.djangoproject.com/" target="_BLANK"><u>Django Framework</u></a> and <a href="https://github.com/juanifioren/django-oidc-provider" target="_BLANK"><u>Django OIDC Provider</u></a>.' %}</p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
